<a href="/job_apps">Dashboard</a>
<a href="/logout">Logout</a>

<h1>JOB APP TRACK dashboard</h1>

<h2><%= @current_user.username %></h2>

<h2>No Offer and Inactive Applications</h2>
<% @inactive_apps.each do |app| %>
  <a href="/job_apps/<%=app.id%>">
  <p><%= app.job_title.capitalize %> - <%= app.company_name.capitalize %></p>
  <p>Status: <%= app.app_status.gsub(/_/, " ").capitalize %></p></a>
<% end %>