<nav class="navbar">
  <p><span id="nav-title">Job App Track</span><br>
  <%= @current_user.username %></p>
  
  <ul class="nav-links">
    <li><a class="button loud" href="/job_apps/new">Add App</a></li>
    <li><a class="button soft" href="/logout">Logout</a></li>
  </ul>
</nav>

<%= styled_flash %>

<div class="dashboard-container">
  <div class="dashboard-col">
    <h1>Interested</h1>
    <% if @apps.size == 0 %>
      <a href="/job_apps/new">
        <div class="card alert">
          <p>Add an application to get started. Your active applications will show up on this dashboard.</p>
        </div>
      </a>
    <% end %> 
    <% @apps.interested.each do |app| %>
      <a href="/job_apps/<%= app.id %>">
        <div class="card <%="alert" if app.follow_ups.incomplete.size > 0%>">
          <p><span class="emphasis"><%= app.job_title %></span><br>
          <%= app.company_name %></p>

          <% app.follow_ups.incomplete.each do |follow_up| %>
            <p><span class="text-alert emphasis">Follow-up needed<br>  
            <%= follow_up.complete_by.strftime('%m/%d/%Y') %></span></p>
          <% end %>
        </div>
      </a>
    <% end %>
  </div>

  <div class="dashboard-col">
    <h1>Applied</h1>
    <% @apps.applied.each do |app| %>
      <a href="/job_apps/<%= app.id %>">
          <div class="card <%="alert" if app.follow_ups.incomplete.size > 0%>">
            <p><span class="emphasis"><%= app.job_title %></span><br>
            <%= app.company_name %></p>

            <% app.follow_ups.incomplete.each do |follow_up| %>
              <p><span class="text-alert emphasis">Follow-up needed<br> 
              <%= follow_up.complete_by.strftime('%m/%d/%Y') %></span></p>
            <% end %>
          </div>
        </a>
    <% end %>
  </div>

  <div class="dashboard-col">
    <h1>Interview</h1>
    <% @apps.interview.each do |app| %>
      <a href="/job_apps/<%= app.id %>">
        <div class="card <%="alert" if app.follow_ups.incomplete.size > 0%>">
          <p><span class="emphasis"><%= app.job_title %></span><br>
          <%= app.company_name %></p>

          <% app.follow_ups.incomplete.each do |follow_up| %>
            <p><span class="text-alert emphasis">Follow-up needed<br>
            <%= follow_up.complete_by.strftime('%m/%d/%Y') %></span></p>
          <% end %>
        </div>
      </a>
    <% end %>
  </div>

  <div class="dashboard-col">
    <h1>Offer</h1>
    <% @apps.offer.each do |app| %>
      <a href="/job_apps/<%= app.id %>">
        <div class="card <%="alert" if app.follow_ups.incomplete.size > 0%>">
          <p><span class="emphasis"><%= app.job_title %></span><br>
            <%= app.company_name %></p>

          <% app.follow_ups.incomplete.each do |follow_up| %>
            <p><span class="text-alert emphasis">Follow-up needed<br> 
            <%= follow_up.complete_by.strftime('%m/%d/%Y') %></span></p>
          <% end %>

          <% if app.offer_decision != "na" %>
            <p><span class="emphasis"><%= app.offer_decision.capitalize %></span></p>
          <% end %>
        </div>
      </a>
    <% end %>
  </div>
</div>

<div class="flex sub-menu-links">
  <a href="/job_apps/inactive">View inactive + no offer apps</a>
  <a href="/users/<%=@current_user.id%>/delete">Delete account</a> 
</div>


<footer class="footer">
  <p>Job App Track - Developed with <a href="http://sinatrarb.com/">Sinatra</a> | <a href="https://github.com/staceymck">GitHub Repo</a></p>
</footer>
