<a href="/job_apps/new">Add app</a>
<a href="/logout">Logout</a>

<h1>JOB APP TRACK dashboard</h1>

<h2><%= @current_user.username %></h2>
<%= styled_flash %>

<h3>Interested</h3>
<% @apps.interested.each do |app| %>
  <div>
  <a href="/job_apps/<%= app.id %>">
    <p><%= app.job_title %> - <%= app.company_name %></p>

    <% app.follow_ups.each do |follow_up| %>
      <% if follow_up.incomplete? %>
        <p>Follow-up needed - 
        <%= follow_up.complete_by.strftime('%m/%d/%Y') %></p>
      <% end %>
    <% end %></a>
    <hr>
<% end %>

<h3>Applied</h3>
<% @apps.applied.each do |app| %>
  <a href="/job_apps/<%= app.id %>">

    <p><%= app.job_title %> - <%= app.company_name %></p>

    <% app.follow_ups.incomplete.each do |follow_up| %>
        <p>Follow-up needed - 
        <%= follow_up.complete_by.strftime('%m/%d/%Y') %></p>
    <% end %></a>
    <hr>
<% end %>

<h3>Interview</h3>
<% @apps.interview.each do |app| %>
  <a href="/job_apps/<%= app.id %>">
    <p><%= app.job_title %> - <%= app.company_name %></p>

    <% app.follow_ups.incomplete.each do |follow_up| %>
        <p>Follow-up needed - 
        <%= follow_up.complete_by.strftime('%m/%d/%Y') %></p>
    <% end %></a>
  <hr>
<% end %>

<h3>Offer</h3>
<% @apps.offer.each do |app| %>
  <a href="/job_apps/<%= app.id %>">
    <p><%= app.job_title %> - <%= app.company_name %></p>

    <% app.follow_ups.incomplete.each do |follow_up| %>
        <p>Follow-up needed - 
        <%= follow_up.complete_by.strftime('%m/%d/%Y') %></p>
    <% end %>

    <% if app.offer_decision != "na" %>
      <p><%= app.offer_decision.capitalize %></p>
    <% end %></a>
  <hr>
<% end %>

<p><a href="/job_apps/inactive">View inactive + no offer apps</a></p>
<p><a href="/users/<%=@current_user.id%>/delete">Delete account</a></p>