<nav>
  <a class="button-prominent" href="/job_apps">Dashboard</a>
  <a class="button-clear" href="/logout">Logout</a>
</nav>

<h1>JOB APP TRACK</h1>
<h2><%= @current_user.username %></h2>

<%= styled_flash %>
<h3>Application for <%= @app.job_title %></h3> 

<h2>General</h2>
<p>Job title: <%= @app.job_title %></p>
<p>Job description: <a href="<% @app.job_description %>"><%= @app.job_description %></a></p>
<p>Company name: <%= @app.company_name %></p>
<p>Company location: <%= @app.company_location %></p>

<p>Date applied:
  <% if !@app.date_applied.nil? %>
    <%= @app.date_applied.strftime('%m/%d/%Y') %></p>
  <% end %>

<p>Status: <%= @app.app_status.capitalize.gsub(/_/, " ") %></p>
<p>Offer decision: <%= @app.format_offer_decision %></p>

<h2>Contact</h2>
<p>Contact name: <%= @app.contact_name %></p>
<p>Contact title: <%= @app.contact_title %></p>
<p>Contact phone: <%= @app.contact_phone %></p>
<p>Contact email: <%= @app.contact_email %></p>

<h2>Notes:</h2>
<p><%= @app.notes %></p>

<h2>Follow-up Actions</h2>
<% if !@app.follow_ups.empty? %>
  <% @app.follow_ups.each do |follow_up| %>
    <p>Action: <%= follow_up.action %></p>
    <p>Complete by: <%= follow_up.complete_by.strftime('%m/%d/%Y') %></p>
    <p>Status: <%= follow_up.action_status.capitalize %></p>
    <form method="post" action="/follow_up/<%= follow_up.id %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input class="button-alert" type="submit" value="Remove action">
    </form>
  <% end %>
<% else %>
  <p>No follow-up actions saved</p>
<% end %>

<div class="flex">
  <div class="flex-item-left">
    <a class="button-prominent" href="/job_apps/<%=@app.id%>/edit">Edit</a>
  </div>
  <div class="flex-item-right">
    <form method="post" action="/job_apps/<%= @app.id %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input class="button-alert" type="submit" value="Delete App">
    </form>
  </div>
</div> 
