<div class="page-title">
  <h1>Application details</h1>
</div> 

<div class="grid-container">
  <div class="display-column">
    <div class="display-section">
      <h2>General</h2>
      <p><span class="emphasis">Job title:</span> <%= @app.job_title %></p>
      <p><span class="emphasis">Job description:</span> <a href="<% @app.job_description %>"><%= @app.job_description %></a></p>
      <p><span class="emphasis">Company name:</span> <%= @app.company_name %></p>
      <p><span class="emphasis">Company location:</span> <%= @app.company_location %></p>

      <p><span class="emphasis">Date applied:</span>
        <% if !@app.date_applied.nil? %>
          <%= @app.date_applied.strftime('%m/%d/%Y') %>
        <% end %></p>

      <p><span class="emphasis">Status:</span> <%= @app.app_status.capitalize.gsub(/_/, " ") %></p>
      <p><span class="emphasis">Offer decision:</span> <%= @app.format_offer_decision %></p>
    </div>

    <div class="display-section">
      <h2>Contact</h2>
      <p><span class="emphasis">Contact name:</span> <%= @app.contact_name %></p>
      <p><span class="emphasis">Contact title:</span> <%= @app.contact_title %></p>
      <p><span class="emphasis">Contact phone:</span> <%= @app.contact_phone %></p>
      <p><span class="emphasis">Contact email:</span> <a href="mailto:<%= @app.contact_email %>"><%= @app.contact_email %></a></p>
    </div>

    <div class="display-section last">
      <h2>Follow-up Actions</h2>
      <div class="follow-up-blocks">
        <% if !@app.follow_ups.empty? %>
          <% @app.follow_ups.each do |follow_up| %>
            <div class="follow-up-action">
              <span class="emphasis">Action: <%= follow_up.action %><br></span>
              Complete by: <%= follow_up.complete_by.strftime('%m/%d/%Y') %><br>
              Status: <%= follow_up.action_status.capitalize %>

              <form method="post" action="/follow_up/<%= follow_up.id %>">
                <input id="hidden" type="hidden" name="_method" value="DELETE">
                <input class="button delete soft" type="submit" value="Remove action">
              </form>
            </div>
          <% end %>
        <% else %>
          <p>No follow-up actions saved</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="display-column display-section">
    <h2>Notes:</h2>
    <p><%= @app.notes %></p>
  </div>
</div>

<div class="flex">
  <div class="flex-item-left">
    <a class="button loud" href="/job_apps/<%=@app.id%>/edit">Edit</a>
  </div>
  <div class="flex-item-right">
    <form method="post" action="/job_apps/<%= @app.id %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input class="button delete soft" type="submit" value="Delete App">
    </form>
  </div>
</div> 
